os:
  - linux
sudo: false
language: node_js
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
node_js:
  - 0.10
  - 0.12
  - iojs-v1.4.3
  - iojs-v3.1.0
install:
  - export CXX=g++-4.8
  - $CXX --version
  - npm i
