* {
    font: 8pt Tahoma;
}

html {
    padding: 0;
    margin: 0;
}

td {
    vertical-align: middle;
    padding: 4px;
    text-align: center;
    /*width: 200px;*/
}

input[type=text] {
    padding: 3px;
    margin: 0;
    border: 1px solid #CCC;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    resize: none;
}

select {
    width: 100%;
}

thead tr td th {
    text-align: center;
}

th {
    font-weight: bold;
    padding: 6px;
}

body table {
    width: 100%;
}

body {
    width: 800px;
    margin: auto;
    padding: 0;
    background: white;
}

.table-header {
    background: lightSteelBlue;
    border: none;
    border-bottom: 1px solid #BBB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.table-group {
    border: 1px solid #BBB;
    background: #f8f8ff;
    border-radius: 7px;
}

table {
    border-spacing: 0px;
}

.numeric {
    text-align: right;
    overflow: hidden;
}

.string {
    text-align: left;
    overflow: hidden;
}

.title {
    text-align: right;
}

.top-title {
    text-align: left;
}