* {
    font: 8pt Tahoma;
}

html {
    padding: 0;
    margin: 0;
}

canvas {
    margin: 0;
    padding: 0;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    background: white;
}

td {
    vertical-align: middle;
    padding: 3px;
    /*width: 200px;*/
}

input[type=button] {
    border-style: outset;
    border-width: 1px;
    border-color: white;
}

input[type=button]:active {
    border-style: inset;
    border-width: 1px;
    border-color: white;
}

textarea {
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
    border-style: inset;
    border-width: 1px;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    /*height: 70px;*/
}

select {
    width: 100%;
}

thead tr td {
    text-align: center;
    font-weight: bold;
}

body table {
    width: 100%;
}

body {
    width: 800px;
    margin: auto;
    padding: 0;
    background: white;/*#dcdcdc;*/
}

.table-group {
    border: 1px solid gray;
    background: #b0c4de;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

table {
    border-spacing: 0px;
}

.numeric {
    text-align: right;
    overflow: hidden;
}